################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/QLCVan/FileContentIndex/90d67969-1798-4dbe-b2d0-85b331d10617.vsidx
