﻿<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

	<connectionStrings>
		<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
			 providerName="System.Data.SqlClient"/>
		<add name="QuanLyCongVanConnectionString" connectionString="Data Source=DESKTOP-QF06FBL\SQLEXPRESS;Initial Catalog=QuanLyCongVan;Integrated Security=True"
			 providerName="System.Data.SqlClient"/>
		<add name="QuanLyCongVanConnectionString1" connectionString="Data Source=DESKTOP-QF06FBL\SQLEXPRESS;Initial Catalog=QuanLyCongVan;Integrated Security=True"
			 providerName="System.Data.SqlClient"/>

		<!--Mình chạy sql trong docker container nên comment lại-->
		<!--<add name="ApplicationServices"
			 connectionString="Server=localhost,1433;Database=aspnetdb;User Id=sa;Password=16092004tG;"
			 providerName="System.Data.SqlClient"/>

		<add name="QuanLyCongVanConnectionString"
			 connectionString="Server=localhost,1433;Database=QuanLyCongVan;User Id=sa;Password=16092004tG;"
			 providerName="System.Data.SqlClient"/>

		<add name="QuanLyCongVanConnectionString1"
			 connectionString="Server=localhost,1433;Database=QuanLyCongVan;User Id=sa;Password=16092004tG;"
			 providerName="System.Data.SqlClient"/>-->
	</connectionStrings>


	<!-- Cấu hình ASP.NET -->
	<system.web>
		<!-- Build/Compile -->
		<compilation debug="true" targetFramework="4.8">
			<assemblies>
				<!-- Thêm LINQ to SQL -->
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			</assemblies>
		</compilation>

		<!-- Runtime -->
		<httpRuntime targetFramework="4.8" />

		<!-- Xác thực -->
		<authentication mode="Forms">
			<forms loginUrl="~/Account/Login.aspx" timeout="2880" />
		</authentication>

		<!-- Membership -->
		<membership>
			<providers>
				<clear />
				<add name="AspNetSqlMembershipProvider"
					 type="System.Web.Security.SqlMembershipProvider"
					 connectionStringName="ApplicationServices"
					 enablePasswordRetrieval="false"
					 enablePasswordReset="true"
					 requiresQuestionAndAnswer="false"
					 requiresUniqueEmail="false"
					 maxInvalidPasswordAttempts="5"
					 minRequiredPasswordLength="6"
					 minRequiredNonalphanumericCharacters="0"
					 passwordAttemptWindow="10"
					 applicationName="/" />
			</providers>
		</membership>

		<!-- Profile -->
		<profile>
			<providers>
				<clear />
				<add name="AspNetSqlProfileProvider"
					 type="System.Web.Profile.SqlProfileProvider"
					 connectionStringName="ApplicationServices"
					 applicationName="/" />
			</providers>
		</profile>

		<!-- Roles -->
		<roleManager enabled="false">
			<providers>
				<clear />
				<add name="AspNetSqlRoleProvider"
					 type="System.Web.Security.SqlRoleProvider"
					 connectionStringName="ApplicationServices"
					 applicationName="/" />
				<add name="AspNetWindowsTokenRoleProvider"
					 type="System.Web.Security.WindowsTokenRoleProvider"
					 applicationName="/" />
			</providers>
		</roleManager>

		<!-- Đăng ký AjaxToolkit -->
		<pages controlRenderingCompatibilityVersion="4.0">
			<controls>
				<add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
			</controls>
		</pages>
	</system.web>

	<!-- IIS -->
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
	</system.webServer>


	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.


</configuration>